.cell {
    text-align: center;
    padding: 0.25rem 0.35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100vh * 0.9) / 9.5);
    height: calc((100vh * 0.85) / 9.5);
}

.light {
    background-color: rgb(235, 228, 219);
}
.dark {
    background-color: #b6b3b3;
}
.highlight {
    position:relative;
    background-color: cornsilk;
}
.highlight:before {
    content:'';
    width: 20px;
    height: 20px;
    background-color: orange;
    position:absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
    border-radius:50%;
}