.board {
    padding: 1rem;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 0 5px 5px #e9e7e7;
    width: calc(100vh * 0.9);
    height: calc(100vh * 0.85);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: burlywood;
}