.board {
    box-shadow: 0 0 5px 5px #e9e7e7;
    width: calc(100vh * 0.9);
    height: calc(100vh * 0.85);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: burlywood;
    padding-left: 0.4rem;
    padding-top: 0.5rem;
}