#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.theme-toast {
  background: rgba(0,0,10,.8);
  border-radius: 40px;
  box-shadow: 1px 2px 5px 1px #0003;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  min-width: 290px;
  overflow: hidden;
  padding: 12px 22px;
  text-align: center;
  vertical-align: top;
  white-space: pre-line;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
